priority -50


snippet 8 "Infinity sign ∞" i
∞
endsnippet

snippet << "Guillemet «" i
«
endsnippet

snippet >> "Guillemet »" i
»
endsnippet

snippet >>. "Unicode version of >>. operator" i
».
endsnippet

snippet != "Not equal sign ≠" i
≠
endsnippet

snippet <= "Less or equal sign ≤" i
≤
endsnippet

snippet >= "Greater or equal sign ≥" i
≥
endsnippet
