[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "haskell-vim-proto"]
	path = haskell-vim-proto
	url = https://github.com/sdiehl/haskell-vim-proto
