# like surround

snippet ' "Surround single quotes" i
'${1}'${2}
endsnippet
snippet ', "Surround single quotes with comma" i
'${1}', ${2}
endsnippet
snippet '. "Surround single quotes with dot" i
'${1}'.${2}
endsnippet
snippet ': "Surround single quotes with colon" i
'${1}': ${2}
endsnippet
snippet '; "Surround single quotes with semicolon" i
'${1}';${2}
endsnippet

snippet " "Surround double quotes" i
"${1}"${2}
endsnippet
snippet ", "Surround double quotes with comma" i
"${1}", ${2}
endsnippet
snippet ". "Surround double quotes with dot" i
"${1}".${2}
endsnippet
snippet ": "Surround double quotes with colon" i
"${1}": ${2}
endsnippet
snippet "; "Surround double quotes with semicolon" i
"${1}";${2}
endsnippet

snippet { "Surround {  } brackets" i
{ ${1} }${2}
endsnippet
snippet {, "Surround {  } brackets with comma" i
{ ${1} }, ${2}
endsnippet
snippet {. "Surround {  } brackets with dot" i
{ ${1} }.${2}
endsnippet
snippet {: "Surround {  } brackets with colon" i
{ ${1} }: ${2}
endsnippet
snippet {; "Surround {  } brackets with semicolon" i
{ ${1} };${2}
endsnippet

snippet } "Surround {} brackets" i
{${1}}${2}
endsnippet
snippet }, "Surround {} brackets with comma" i
{${1}}, ${2}
endsnippet
snippet }. "Surround {} brackets with dot" i
{${1}}.${2}
endsnippet
snippet }: "Surround {} brackets with colon" i
{${1}}: ${2}
endsnippet
snippet }; "Surround {} brackets with semicolon" i
{${1}};${2}
endsnippet

snippet [ "Surround [  ] brackets" i
[ ${1} ]${2}
endsnippet
snippet [, "Surround [  ] brackets with comma" i
[ ${1} ], ${2}
endsnippet
snippet [. "Surround [  ] brackets with dot" i
[ ${1} ].${2}
endsnippet
snippet [: "Surround [  ] brackets with colon" i
[ ${1} ]: ${2}
endsnippet
snippet [; "Surround [  ] brackets with semicolon" i
[ ${1} ];${2}
endsnippet

snippet ] "Surround [] brackets" i
[${1}]${2}
endsnippet
snippet ], "Surround [] brackets with comma" i
[${1}], ${2}
endsnippet
snippet ]. "Surround [] brackets with dot" i
[${1}].${2}
endsnippet
snippet ]: "Surround [] brackets with colon" i
[${1}]: ${2}
endsnippet
snippet ]; "Surround [] brackets with semicolon" i
[${1}];${2}
endsnippet

snippet ( "Surround (  ) brackets" i
( ${1} )${2}
endsnippet
snippet (, "Surround (  ) brackets with comma" i
( ${1} ), ${2}
endsnippet
snippet (. "Surround (  ) brackets with dot" i
( ${1} ).${2}
endsnippet
snippet (: "Surround (  ) brackets with colon" i
( ${1} ): ${2}
endsnippet
snippet (; "Surround (  ) brackets with semicolon" i
( ${1} );${2}
endsnippet

snippet ) "Surround () brackets" i
(${1})${2}
endsnippet
snippet ), "Surround () brackets with comma" i
(${1}), ${2}
endsnippet
snippet ). "Surround () brackets with dot" i
(${1}).${2}
endsnippet
snippet ): "Surround () brackets with colon" i
(${1}): ${2}
endsnippet
snippet ); "Surround () brackets with semicolon" i
(${1});${2}
endsnippet
